NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:Kampala2020%40%26@localhost:5432/dira_db?schema=public"
JWT_ACCESS_SECRET=replace-with-long-local-development-secret
JWT_REFRESH_SECRET=replace-with-another-long-local-development-secret
WEB_ORIGIN=http://localhost:3000
API_URL=http://localhost:4000
PGADMIN_DEFAULT_EMAIL=admin@dira.local
PGADMIN_DEFAULT_PASSWORD=Kampala2020@&
